body {
    font-family: 'Roboto', sans-serif;
    background: #ccc;
}

textarea {
    display: block;
    border-radius: 5px;
    border: 0;
    margin-bottom: 10px;
}

#sendBtn {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #2f98e6;
    color: #fff;
    display: block;
}

#followUser {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #2f98e6;
    color: #fff;
}

.container {
    min-width: 320px;
    max-width: 900px;
    margin: 0 auto;
}

.main {
    text-align: center;
}

#form {
    margin-bottom: 50px;
    text-align: center;
}

#firstName {
    margin-right: 10px;
}

#messageDiv {
    padding: 15px;
}

.messageBlock {
    border: 1px solid #000;
    margin-bottom: 5px;
    padding: 5px 20px;
    border-radius: 5px;
}

#saveProfile {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #2f98e6;
    color: #fff;
}
#add {
    padding: 5px 10px;
    border: 0;
    border-radius: 4px;
    background: #2f98e6;
    color: #fff;
}

#input {
    width: 200px;
}

#messagesBox {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
}

#editModal {
    display: none;
}

#followUserModal {
    display: none;
    margin-bottom: 10px;
}

#firstNameModal {
    display: block;
}
#lastNameModal {
    display: block;
    margin-bottom: 5px;
}

